body {
	background-color: black;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 37rem;
	color: #fff;
	background-image: url("img/streetlight.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.container {
	text-align: center;
}

.disable-selection {
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;  
}

.name {
	font-family: 'Abril Fatface', cursive;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
	color: rgba(255,255,255,0.4);
	box-shadow: 0px 0px 10px #333;
}

.button {
	background-color: #333;
	color: #fff;
	font-family: 'Orbitron', sans-serif;
}


@media only screen and (max-width: 600px) {
	
	.name {
	    margin-top: 6rem;
	}

	.name h1 {
		font-size: 1.1rem;
	    letter-spacing: 0.8rem;
	}

	.explore {
		margin: 0;
	}

	.button {	
		margin-top: 0;
		padding:0.5rem 1rem;
		font-size: 0.8rem;
		letter-spacing: 6px;
	}
}

@media only screen and (min-width: 600px) {

	.name {
		letter-spacing: 1rem;
	}

	.name h1 {
		font-size: 1.2rem; 
	    letter-spacing: 0.8rem;
	    margin-top: 7rem ;
	}

	.explore {
    	margin-top: 1rem;	
    }

	.button {
		padding:0.5rem 2rem;
		font-size: 0.8rem;
		letter-spacing: 6px;
	}
}

@media only screen and (min-width: 992px) {
		
	.name {
		margin-top: 10rem;
	}

	.name h1 {
		font-size: 2.5rem; 
	    letter-spacing: 2rem;
	    margin: 0;
	}

	.explore {
		margin-top: 3rem; ;
	}

	.button {
		margin-top: 4rem;	
		padding:0.5rem 2rem;
		font-size: 1.2rem;
		letter-spacing: 12px;
	}

}